<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.big.to.repository.GraphDAO">
	<resultMap type="totalIphone" id="totalIphoneResult" />
	<resultMap type="java.lang.String" id="string" />

	<select id="krnameList" resultMap="string">
		select distinct(krname) as krname from total_iphone;
	</select>

	<select id="gbList" resultMap="string">
		select distinct(gb) as gb from total_iphone where krname = #{krname}
	</select>
	<select id="conditionsList" resultMap="string">
		select distinct(conditions) as conditions from total_iphone where krname=#{krname} and gb=#{gb}
	</select>
	<select id="changesList" resultMap="string">
		select distinct(changes) as changes from total_iphone where krname=#{krname} and gb=#{gb} and conditions=#{conditions}
	</select>
	
	<!-- TODO : 쿼리문 도움이 필요함 -->
	<select id="selectTerm" resultMap="string">
		select
			max(distinct(postdate)) as end_date
			,min(distinct(postdate)) as start_date
		from 
			total_iphone
		where 
			krname=#{krname}
			and gb=#{gb}
			and conditions = #{conditions}
		    and changes = #{changes}
	</select>
	
	<select id="selectTermMulti" resultMap="string">
		select
			max(distinct(postdate)) as end_date
			,min(distinct(postdate)) as start_date
		from total_iphone
		where krnameGb=#{krnameGb}
	</select>
	
	<select id="lineSingle" resultMap="totalIphoneResult">
		select 
			postdate as postdate
			,round(avg(soldprice),0) as soldprice
		from 
			total_iphone
		where
			krname = #{krname} 
			and gb= #{gb}
			and conditions = #{conditions}
		    and changes = #{changes}
			and #{start_date} &lt;= postdate
			and #{end_date} &gt;= postdate
		group by
			postdate
	</select>
		
	<select id="lineMulti" resultMap="totalIphoneResult">
		select 
			postdate as postdate
			,round(avg(soldprice),0) as soldprice
			,krnamegb as krnamegb
		from 
			total_iphone
		where
			krname = #{krname} 
			and gb=#{gb}
			and conditions = #{conditions}
		    and changes = #{changes}
			and #{start_date} &lt;= postdate
			and #{end_date} &gt;= postdate
		group by
			postdate
	</select>
	
	
	<select id="barSingleSoldCount" resultMap="totalIphoneResult">
		select 
			postdate as postdate
			,count(*) as soldcount
		from 
			total_iphone
		where
			krname = #{krname} 
			and gb=#{gb}
			and conditions = #{conditions}
		    and changes = #{changes}
			and #{start_date} &lt;= postdate
			and #{end_date} &gt;= postdate
			and #{sold} = '판매가 완료된 상품 입니다.' 
		group by
			postdate
			<!-- (select substr(postdate,1,7)) -->
	</select>
	
	<select id="barSingleRegCount" resultMap="totalIphoneResult">
		select 
			postdate as postdate
			,count(*) as regcount
		from 
			total_iphone
		where
			krname = #{krname} 
			and gb=#{gb}
			and conditions = #{conditions}
		    and changes = #{changes}
			and #{start_date} &lt;= postdate
			and #{end_date} &gt;= postdate
		group by
			postdate
	</select>
</mapper>