<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.big.to.repository.GraphDAO">
	<resultMap type="totalIphone" id="totalIphoneResult" />
	<resultMap type="java.lang.String" id="string" />

	<select id="krnameList" resultMap="string">
		select distinct(krname) as krname from total_iphone;
	</select>

	<select id="gbList" resultMap="string">
		select distinct(gb) as gb from total_iphone where krname = #{krname}
	</select>
	<select id="conditionsList" resultMap="string">
		select distinct(conditions) as conditions from total_iphone where krname=#{krname} and gb=#{gb}
	</select>
	<select id="changesList" resultMap="string">
		select distinct(changes) as changes from total_iphone where krname=#{krname} and gb=#{gb} and conditions=#{conditions}
	</select>
	
	<!-- TODO : 쿼리문 도움이 필요함 -->
	<select id="selectTerm" resultMap="string">
		select
			max(distinct(postdate)) as end_date
			,min(distinct(postdate)) as start_date
		from 
			total_iphone
		where 
			krname=#{krname}
			and gb=#{gb}
			and conditions = #{conditions}
		    and changes = #{changes}
	</select>
	
	<select id="selectTermMulti" resultMap="string">
		select
			max(distinct(postdate)) as end_date
			,min(distinct(postdate)) as start_date
		from total_iphone
		where krnameGb=#{krnameGb}
	</select>
	
<!-- 	select 
			postdate
			,round(avg(SOLDPRICE),0) as SOLDPRICE
		from 
			total_iphone
		where
			krname = '아이폰 4S'
			and gb= '16GB'
			and '2014-05-19' <= postdate
			and '2017-08-30' >= postdate
		group by postdate -->
	<select id="lineSingle" resultMap="totalIphoneResult">
		select 
			postdate as postdate
			,round(avg(soldprice),0) as soldprice
		from 
			total_iphone
		where
			krname = #{krname} 
			and gb= #{gb}
			and conditions = #{conditions}
		    and changes = #{changes}
			and #{start_date} &lt;= postdate
			and #{end_date} &gt;= postdate
		group by
			postdate
	</select>
		
	<select id="lineMulti" resultMap="totalIphoneResult">
		select 
			postdate as postdate
			,round(avg(soldprice),0) as soldprice
			,krnamegb as krnamegb
		from 
			total_iphone
		where
			krname = #{krname} 
			and gb=#{gb}
			and conditions = #{conditions}
		    and changes = #{changes}
			and #{start_date} &lt;= postdate
			and #{end_date} &gt;= postdate
		group by
			postdate
	</select>
	
	
	<select id="barSingleSoldCount" resultMap="totalIphoneResult">
		select 
			postdate as postdate
			,count(*) as soldcount
		from 
			total_iphone
		where
			krname = #{krname} 
			and gb=#{gb}
			and conditions = #{conditions}
		    and changes = #{changes}
			and #{start_date} &lt;= postdate
			and #{end_date} &gt;= postdate
			and #{sold} = '판매가 완료된 상품 입니다.' 
		group by
			postdate
			<!-- (select substr(postdate,1,7)) -->
	</select>
	
	<select id="barSingleRegCount" resultMap="totalIphoneResult">
		select 
			postdate as postdate
			,count(*) as regcount
		from 
			total_iphone
		where
			krname = #{krname} 
			and gb=#{gb}
			and conditions = #{conditions}
		    and changes = #{changes}
			and #{start_date} &lt;= postdate
			and #{end_date} &gt;= postdate
		group by
			postdate
	</select>


<!-- 	
	TEST: 아이폰6이고 용량이 16GB이고 상태가 '상'이고 변경이 확정기변인 데이터를 날짜별 평균 값으로 조회
	<select id="samplePhone" resultMap="samplePhoneResult">
		select 
			date
			,round(avg(price),0) as price
		from 
			cetizen_cp_part
		where
			krname like '아이폰6' 
			and model like '%16%' 
			and conditions like '상%' 
			and changes like '확정기변' 
		group by
			date
	</select> -->
	
	<!-- Line: 특정 모델의 조건에 따른 기간별 평균 가격조회 -->
<!-- 	<select id="phoneLine" resultMap="phoneLineResult">
		select 
			postdate as date,
			round(avg(price),0) as price 
		from
			iphone4
		where
			krname like #{krname}
		    and gb like #{gb}
		    and conditions like CONCAT(#{conditions},'%')
		    and changes like #{changes}
		group by
			date
	</select>	 -->
</mapper>