<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.big.to.repository.SampleDAO">
	<resultMap type="sample" id="sampleResult" />
	<resultMap type="samplePhone" id="samplePhoneResult" />
	<resultMap type="samplePhone" id="phoneLineResult" />
	<resultMap id="samplePhoneWithCordinateResult" type="samplePhoneWithCordinate" />
	<resultMap type="java.lang.String" id="string" />
	<resultMap id="dateRangeResult" type="dateRange" />
	
	<!-- TEST: cetizen 테이블에서 데이터 조회 -->
	<select id="sample" resultMap="sampleResult">
		SELECT model FROM cetizen WHERE ID LIMIT 10
	</select>
	
	<!-- TEST: 아이폰6이고 용량이 16GB이고 상태가 '상'이고 변경이 확정기변인 데이터를 날짜별 평균 값으로 조회 -->
	<select id="samplePhone" resultMap="samplePhoneResult">
		select 
			date
			,round(avg(price),0) as price
		from 
			cetizen_cp_part
		where
			krname like '아이폰6' 
			and model like '%16%' 
			and conditions like '상%' 
			and changes like '확정기변' 
		group by
			date
	</select>
	
	<!-- Line: 특정 모델의 조건에 따른 기간별 평균 가격조회 -->
	<select id="phoneLine" resultMap="phoneLineResult">
		select 
			postdate as date,
			round(avg(soldprice),0) as price
		from
			total_iphone2
		where
			krname like #{krname}
		    and gb like #{gb}
		    and conditions like CONCAT(#{conditions},'%')
		    and changes like #{changes}
		group by
			date
	</select>

	<!-- Line: 특정 모델의 조건에 따른 기간별 평균 가격조회 -->
	<select id="phoneLineWithRange" resultMap="samplePhoneWithCordinateResult">
		select
		postdate as x,
		round(avg(soldprice),0) as y
		from
		total_iphone2
		where
		krname like #{krname}
		and gb like #{gb}
		and conditions like CONCAT(#{conditions},'%')
		and changes like #{changes}
		and postdate BETWEEN #{start_date} and #{end_date}
		group by
		x
	</select>
	
	<select id="krnameList" resultMap="string">
		select distinct(krname) from total_iphone2;
	</select>
	<select id="gbList" resultMap="string">
		select distinct(gb) from total_iphone2 where krname = #{krname}
	</select>
	<select id="conditionsList" resultMap="string">
		select distinct(conditions) from total_iphone2 where krname=#{krname} and gb=#{gb}
	</select>
	<select id="changesList" resultMap="string">
		select distinct(changes) from total_iphone2 where krname=#{krname} and gb=#{gb} and conditions=#{conditions}
	</select>

	<select id="dateRange" resultMap="dateRangeResult">
		select min(postdate) as start_date, max(postdate) as end_date from total_iphone2 where krname=#{krname} and gb=#{gb} and conditions=#{conditions} and changes=#{changes}
	</select>

	<select id="dateLabels" resultMap="string">
		select Date from date_range where Date BETWEEN #{start_date} and #{end_date}
	</select>

	
</mapper>