<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 별명 설정 -->
		<typeAlias alias="sample" type="com.big.to.vo.Sample"/>
		<typeAlias alias="samplePhone" type="com.big.to.vo.SamplePhone"/>
		<typeAlias alias="totalIphone" type="com.big.to.vo.TotalIphone"/>
		<typeAlias alias="infoIphone" type="com.big.to.vo.InfoIphone"/>
	</typeAliases>
</configuration>
	